
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Poppins:wght@100;200;300;500&display=swap');


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Calistoga', cursive;
font-family: 'Poppins', sans-serif;
}

.button{
  font-family: 'Calistoga', cursive;
font-family: 'Poppins', sans-serif;
font-size: larger;
  padding: 20px;
  margin: 10px 8px;
  border: 2px solid yellowgreen;
  border-radius: 12px;
  cursor: pointer;
}

.raw{
  margin: 8px 0;
}

.input-row{
  padding: 0 3px 4px -3px;
    margin: -3px 0 -3px 4px;
    height: 45pt;
    width: 275px;
}
.row-input{
  height: 50pt;
    width: 280px;
    margin: 0px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 5px;
}